:root {
  --primaryColor: #1abc9c;
  --lightGrey: #F8FAFA;
  --accentColor: #ff9a36;
  --backgroundColor: #ffe6bd;
}

.font-header {
  font-family: "Arial", serif;
  text-align: left;
  margin-left: 2%;
  font-size: 20px;
  color: #F8FAFA;
}

h2 {
  font-size: 2.1em !important;
  color: var(--primaryColor);
  text-align: left;
}

.is-low-amount-of-seats {
  color: red;
}

.is-medium-amount-of-seats {
  color: orange;
}

.is-high-amount-of-seats {
  color: limegreen;
}

.has-rounded-corners {
  border-style: solid;
  border-width: 1px;
  border-color: ghostwhite;
  border-radius: 1em;
}
